/* Coolors Exported Palette - https://coolors.co/864629-0e1822-6eafbb-fcf3af-436e80 */

/* CSS HEX */
--russet: #864629ff;
--rich-black: #0E1822ff;
--moonstone: #6EAFBBff;
--vanilla: #FCF3AFff;
--paynes-gray: #436E80ff;

/* CSS HSL */
--russet: hsla(19, 53%, 34%, 1);
--rich-black: hsla(210, 42%, 9%, 1);
--moonstone: hsla(189, 36%, 58%, 1);
--vanilla: hsla(53, 93%, 84%, 1);
--paynes-gray: hsla(198, 31%, 38%, 1);

/* SCSS HEX */
$russet: #864629ff;
$rich-black: #0E1822ff;
$moonstone: #6EAFBBff;
$vanilla: #FCF3AFff;
$paynes-gray: #436E80ff;

/* SCSS HSL */
$russet: hsla(19, 53%, 34%, 1);
$rich-black: hsla(210, 42%, 9%, 1);
$moonstone: hsla(189, 36%, 58%, 1);
$vanilla: hsla(53, 93%, 84%, 1);
$paynes-gray: hsla(198, 31%, 38%, 1);

/* SCSS RGB */
$russet: rgba(134, 70, 41, 1);
$rich-black: rgba(14, 24, 34, 1);
$moonstone: rgba(110, 175, 187, 1);
$vanilla: rgba(252, 243, 175, 1);
$paynes-gray: rgba(67, 110, 128, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #864629ff, #0E1822ff, #6EAFBBff, #FCF3AFff, #436E80ff);
$gradient-right: linear-gradient(90deg, #864629ff, #0E1822ff, #6EAFBBff, #FCF3AFff, #436E80ff);
$gradient-bottom: linear-gradient(180deg, #864629ff, #0E1822ff, #6EAFBBff, #FCF3AFff, #436E80ff);
$gradient-left: linear-gradient(270deg, #864629ff, #0E1822ff, #6EAFBBff, #FCF3AFff, #436E80ff);
$gradient-top-right: linear-gradient(45deg, #864629ff, #0E1822ff, #6EAFBBff, #FCF3AFff, #436E80ff);
$gradient-bottom-right: linear-gradient(135deg, #864629ff, #0E1822ff, #6EAFBBff, #FCF3AFff, #436E80ff);
$gradient-top-left: linear-gradient(225deg, #864629ff, #0E1822ff, #6EAFBBff, #FCF3AFff, #436E80ff);
$gradient-bottom-left: linear-gradient(315deg, #864629ff, #0E1822ff, #6EAFBBff, #FCF3AFff, #436E80ff);
$gradient-radial: radial-gradient(#864629ff, #0E1822ff, #6EAFBBff, #FCF3AFff, #436E80ff);