/* Coolors Exported Palette - https://coolors.co/eec1a5-201d0d-b18227-aab0a5-6d4d24 */

/* CSS HEX */
--desert-sand: #EEC1A5ff;
--smoky-black: #201D0Dff;
--dark-goldenrod: #B18227ff;
--ash-gray: #AAB0A5ff;
--kobicha: #6D4D24ff;

/* CSS HSL */
--desert-sand: hsla(23, 68%, 79%, 1);
--smoky-black: hsla(51, 42%, 9%, 1);
--dark-goldenrod: hsla(40, 64%, 42%, 1);
--ash-gray: hsla(93, 7%, 67%, 1);
--kobicha: hsla(34, 50%, 28%, 1);

/* SCSS HEX */
$desert-sand: #EEC1A5ff;
$smoky-black: #201D0Dff;
$dark-goldenrod: #B18227ff;
$ash-gray: #AAB0A5ff;
$kobicha: #6D4D24ff;

/* SCSS HSL */
$desert-sand: hsla(23, 68%, 79%, 1);
$smoky-black: hsla(51, 42%, 9%, 1);
$dark-goldenrod: hsla(40, 64%, 42%, 1);
$ash-gray: hsla(93, 7%, 67%, 1);
$kobicha: hsla(34, 50%, 28%, 1);

/* SCSS RGB */
$desert-sand: rgba(238, 193, 165, 1);
$smoky-black: rgba(32, 29, 13, 1);
$dark-goldenrod: rgba(177, 130, 39, 1);
$ash-gray: rgba(170, 176, 165, 1);
$kobicha: rgba(109, 77, 36, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #EEC1A5ff, #201D0Dff, #B18227ff, #AAB0A5ff, #6D4D24ff);
$gradient-right: linear-gradient(90deg, #EEC1A5ff, #201D0Dff, #B18227ff, #AAB0A5ff, #6D4D24ff);
$gradient-bottom: linear-gradient(180deg, #EEC1A5ff, #201D0Dff, #B18227ff, #AAB0A5ff, #6D4D24ff);
$gradient-left: linear-gradient(270deg, #EEC1A5ff, #201D0Dff, #B18227ff, #AAB0A5ff, #6D4D24ff);
$gradient-top-right: linear-gradient(45deg, #EEC1A5ff, #201D0Dff, #B18227ff, #AAB0A5ff, #6D4D24ff);
$gradient-bottom-right: linear-gradient(135deg, #EEC1A5ff, #201D0Dff, #B18227ff, #AAB0A5ff, #6D4D24ff);
$gradient-top-left: linear-gradient(225deg, #EEC1A5ff, #201D0Dff, #B18227ff, #AAB0A5ff, #6D4D24ff);
$gradient-bottom-left: linear-gradient(315deg, #EEC1A5ff, #201D0Dff, #B18227ff, #AAB0A5ff, #6D4D24ff);
$gradient-radial: radial-gradient(#EEC1A5ff, #201D0Dff, #B18227ff, #AAB0A5ff, #6D4D24ff);