/* Coolors Exported Palette - https://coolors.co/b03d2c-e8e4d6-cb9c86-57675e-c38b4e-4f5756-433630-d20a27-ceba97-19172d */

/* CSS HEX */
--fire-brick: #B03D2Cff;
--alabaster: #E8E4D6ff;
--buff: #CB9C86ff;
--feldgrau: #57675Eff;
--caramel: #C38B4Eff;
--davys-gray: #4F5756ff;
--van-dyke: #433630ff;
--fire-engine-red: #D20A27ff;
--khaki: #CEBA97ff;
--dark-purple: #19172Dff;

/* CSS HSL */
--fire-brick: hsla(8, 60%, 43%, 1);
--alabaster: hsla(47, 28%, 87%, 1);
--buff: hsla(19, 40%, 66%, 1);
--feldgrau: hsla(146, 8%, 37%, 1);
--caramel: hsla(31, 49%, 54%, 1);
--davys-gray: hsla(173, 5%, 33%, 1);
--van-dyke: hsla(19, 17%, 23%, 1);
--fire-engine-red: hsla(351, 91%, 43%, 1);
--khaki: hsla(38, 36%, 70%, 1);
--dark-purple: hsla(245, 32%, 13%, 1);

/* SCSS HEX */
$fire-brick: #B03D2Cff;
$alabaster: #E8E4D6ff;
$buff: #CB9C86ff;
$feldgrau: #57675Eff;
$caramel: #C38B4Eff;
$davys-gray: #4F5756ff;
$van-dyke: #433630ff;
$fire-engine-red: #D20A27ff;
$khaki: #CEBA97ff;
$dark-purple: #19172Dff;

/* SCSS HSL */
$fire-brick: hsla(8, 60%, 43%, 1);
$alabaster: hsla(47, 28%, 87%, 1);
$buff: hsla(19, 40%, 66%, 1);
$feldgrau: hsla(146, 8%, 37%, 1);
$caramel: hsla(31, 49%, 54%, 1);
$davys-gray: hsla(173, 5%, 33%, 1);
$van-dyke: hsla(19, 17%, 23%, 1);
$fire-engine-red: hsla(351, 91%, 43%, 1);
$khaki: hsla(38, 36%, 70%, 1);
$dark-purple: hsla(245, 32%, 13%, 1);

/* SCSS RGB */
$fire-brick: rgba(176, 61, 44, 1);
$alabaster: rgba(232, 228, 214, 1);
$buff: rgba(203, 156, 134, 1);
$feldgrau: rgba(87, 103, 94, 1);
$caramel: rgba(195, 139, 78, 1);
$davys-gray: rgba(79, 87, 86, 1);
$van-dyke: rgba(67, 54, 48, 1);
$fire-engine-red: rgba(210, 10, 39, 1);
$khaki: rgba(206, 186, 151, 1);
$dark-purple: rgba(25, 23, 45, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #B03D2Cff, #E8E4D6ff, #CB9C86ff, #57675Eff, #C38B4Eff, #4F5756ff, #433630ff, #D20A27ff, #CEBA97ff, #19172Dff);
$gradient-right: linear-gradient(90deg, #B03D2Cff, #E8E4D6ff, #CB9C86ff, #57675Eff, #C38B4Eff, #4F5756ff, #433630ff, #D20A27ff, #CEBA97ff, #19172Dff);
$gradient-bottom: linear-gradient(180deg, #B03D2Cff, #E8E4D6ff, #CB9C86ff, #57675Eff, #C38B4Eff, #4F5756ff, #433630ff, #D20A27ff, #CEBA97ff, #19172Dff);
$gradient-left: linear-gradient(270deg, #B03D2Cff, #E8E4D6ff, #CB9C86ff, #57675Eff, #C38B4Eff, #4F5756ff, #433630ff, #D20A27ff, #CEBA97ff, #19172Dff);
$gradient-top-right: linear-gradient(45deg, #B03D2Cff, #E8E4D6ff, #CB9C86ff, #57675Eff, #C38B4Eff, #4F5756ff, #433630ff, #D20A27ff, #CEBA97ff, #19172Dff);
$gradient-bottom-right: linear-gradient(135deg, #B03D2Cff, #E8E4D6ff, #CB9C86ff, #57675Eff, #C38B4Eff, #4F5756ff, #433630ff, #D20A27ff, #CEBA97ff, #19172Dff);
$gradient-top-left: linear-gradient(225deg, #B03D2Cff, #E8E4D6ff, #CB9C86ff, #57675Eff, #C38B4Eff, #4F5756ff, #433630ff, #D20A27ff, #CEBA97ff, #19172Dff);
$gradient-bottom-left: linear-gradient(315deg, #B03D2Cff, #E8E4D6ff, #CB9C86ff, #57675Eff, #C38B4Eff, #4F5756ff, #433630ff, #D20A27ff, #CEBA97ff, #19172Dff);
$gradient-radial: radial-gradient(#B03D2Cff, #E8E4D6ff, #CB9C86ff, #57675Eff, #C38B4Eff, #4F5756ff, #433630ff, #D20A27ff, #CEBA97ff, #19172Dff);