/* Coolors Exported Palette - https://coolors.co/bcbfba-dc8b36-6b4b4a-2bc0bd-333c3b */

/* CSS HEX */
--silver: #BCBFBAff;
--butterscotch: #DC8B36ff;
--rose-ebony: #6B4B4Aff;
--robin-egg-blue: #2BC0BDff;
--onyx: #333C3Bff;

/* CSS HSL */
--silver: hsla(96, 4%, 74%, 1);
--butterscotch: hsla(31, 70%, 54%, 1);
--rose-ebony: hsla(2, 18%, 35%, 1);
--robin-egg-blue: hsla(179, 63%, 46%, 1);
--onyx: hsla(173, 8%, 22%, 1);

/* SCSS HEX */
$silver: #BCBFBAff;
$butterscotch: #DC8B36ff;
$rose-ebony: #6B4B4Aff;
$robin-egg-blue: #2BC0BDff;
$onyx: #333C3Bff;

/* SCSS HSL */
$silver: hsla(96, 4%, 74%, 1);
$butterscotch: hsla(31, 70%, 54%, 1);
$rose-ebony: hsla(2, 18%, 35%, 1);
$robin-egg-blue: hsla(179, 63%, 46%, 1);
$onyx: hsla(173, 8%, 22%, 1);

/* SCSS RGB */
$silver: rgba(188, 191, 186, 1);
$butterscotch: rgba(220, 139, 54, 1);
$rose-ebony: rgba(107, 75, 74, 1);
$robin-egg-blue: rgba(43, 192, 189, 1);
$onyx: rgba(51, 60, 59, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #BCBFBAff, #DC8B36ff, #6B4B4Aff, #2BC0BDff, #333C3Bff);
$gradient-right: linear-gradient(90deg, #BCBFBAff, #DC8B36ff, #6B4B4Aff, #2BC0BDff, #333C3Bff);
$gradient-bottom: linear-gradient(180deg, #BCBFBAff, #DC8B36ff, #6B4B4Aff, #2BC0BDff, #333C3Bff);
$gradient-left: linear-gradient(270deg, #BCBFBAff, #DC8B36ff, #6B4B4Aff, #2BC0BDff, #333C3Bff);
$gradient-top-right: linear-gradient(45deg, #BCBFBAff, #DC8B36ff, #6B4B4Aff, #2BC0BDff, #333C3Bff);
$gradient-bottom-right: linear-gradient(135deg, #BCBFBAff, #DC8B36ff, #6B4B4Aff, #2BC0BDff, #333C3Bff);
$gradient-top-left: linear-gradient(225deg, #BCBFBAff, #DC8B36ff, #6B4B4Aff, #2BC0BDff, #333C3Bff);
$gradient-bottom-left: linear-gradient(315deg, #BCBFBAff, #DC8B36ff, #6B4B4Aff, #2BC0BDff, #333C3Bff);
$gradient-radial: radial-gradient(#BCBFBAff, #DC8B36ff, #6B4B4Aff, #2BC0BDff, #333C3Bff);