/* Coolors Exported Palette - https://coolors.co/5f5b58-e7e4d2-d8b59c-ad411f-b6975c-211824-14070f-6a8785-292b30-6c7960 */

/* CSS HEX */
--davys-gray: #5F5B58ff;
--eggshell: #E7E4D2ff;
--desert-sand: #D8B59Cff;
--rust: #AD411Fff;
--lion: #B6975Cff;
--raisin-black: #211824ff;
--licorice: #14070Fff;
--hookers-green: #6A8785ff;
--raisin-black-2: #292B30ff;
--reseda-green: #6C7960ff;

/* CSS HSL */
--davys-gray: hsla(26, 4%, 36%, 1);
--eggshell: hsla(51, 30%, 86%, 1);
--desert-sand: hsla(25, 43%, 73%, 1);
--rust: hsla(14, 70%, 40%, 1);
--lion: hsla(39, 38%, 54%, 1);
--raisin-black: hsla(285, 20%, 12%, 1);
--licorice: hsla(323, 48%, 5%, 1);
--hookers-green: hsla(176, 12%, 47%, 1);
--raisin-black-2: hsla(223, 8%, 17%, 1);
--reseda-green: hsla(91, 12%, 43%, 1);

/* SCSS HEX */
$davys-gray: #5F5B58ff;
$eggshell: #E7E4D2ff;
$desert-sand: #D8B59Cff;
$rust: #AD411Fff;
$lion: #B6975Cff;
$raisin-black: #211824ff;
$licorice: #14070Fff;
$hookers-green: #6A8785ff;
$raisin-black-2: #292B30ff;
$reseda-green: #6C7960ff;

/* SCSS HSL */
$davys-gray: hsla(26, 4%, 36%, 1);
$eggshell: hsla(51, 30%, 86%, 1);
$desert-sand: hsla(25, 43%, 73%, 1);
$rust: hsla(14, 70%, 40%, 1);
$lion: hsla(39, 38%, 54%, 1);
$raisin-black: hsla(285, 20%, 12%, 1);
$licorice: hsla(323, 48%, 5%, 1);
$hookers-green: hsla(176, 12%, 47%, 1);
$raisin-black-2: hsla(223, 8%, 17%, 1);
$reseda-green: hsla(91, 12%, 43%, 1);

/* SCSS RGB */
$davys-gray: rgba(95, 91, 88, 1);
$eggshell: rgba(231, 228, 210, 1);
$desert-sand: rgba(216, 181, 156, 1);
$rust: rgba(173, 65, 31, 1);
$lion: rgba(182, 151, 92, 1);
$raisin-black: rgba(33, 24, 36, 1);
$licorice: rgba(20, 7, 15, 1);
$hookers-green: rgba(106, 135, 133, 1);
$raisin-black-2: rgba(41, 43, 48, 1);
$reseda-green: rgba(108, 121, 96, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #5F5B58ff, #E7E4D2ff, #D8B59Cff, #AD411Fff, #B6975Cff, #211824ff, #14070Fff, #6A8785ff, #292B30ff, #6C7960ff);
$gradient-right: linear-gradient(90deg, #5F5B58ff, #E7E4D2ff, #D8B59Cff, #AD411Fff, #B6975Cff, #211824ff, #14070Fff, #6A8785ff, #292B30ff, #6C7960ff);
$gradient-bottom: linear-gradient(180deg, #5F5B58ff, #E7E4D2ff, #D8B59Cff, #AD411Fff, #B6975Cff, #211824ff, #14070Fff, #6A8785ff, #292B30ff, #6C7960ff);
$gradient-left: linear-gradient(270deg, #5F5B58ff, #E7E4D2ff, #D8B59Cff, #AD411Fff, #B6975Cff, #211824ff, #14070Fff, #6A8785ff, #292B30ff, #6C7960ff);
$gradient-top-right: linear-gradient(45deg, #5F5B58ff, #E7E4D2ff, #D8B59Cff, #AD411Fff, #B6975Cff, #211824ff, #14070Fff, #6A8785ff, #292B30ff, #6C7960ff);
$gradient-bottom-right: linear-gradient(135deg, #5F5B58ff, #E7E4D2ff, #D8B59Cff, #AD411Fff, #B6975Cff, #211824ff, #14070Fff, #6A8785ff, #292B30ff, #6C7960ff);
$gradient-top-left: linear-gradient(225deg, #5F5B58ff, #E7E4D2ff, #D8B59Cff, #AD411Fff, #B6975Cff, #211824ff, #14070Fff, #6A8785ff, #292B30ff, #6C7960ff);
$gradient-bottom-left: linear-gradient(315deg, #5F5B58ff, #E7E4D2ff, #D8B59Cff, #AD411Fff, #B6975Cff, #211824ff, #14070Fff, #6A8785ff, #292B30ff, #6C7960ff);
$gradient-radial: radial-gradient(#5F5B58ff, #E7E4D2ff, #D8B59Cff, #AD411Fff, #B6975Cff, #211824ff, #14070Fff, #6A8785ff, #292B30ff, #6C7960ff);